* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    max-width: 100%;
    margin-top: 58px;
    font-family: lato;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
  }