main-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f8f9fa;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    height: 100%;
    width: 100%;
  }
  
  main-2 h2 {
    font-size: 30px;
    margin: 0px 20px 60px 20px;
  }
  
  main-2 h3 {
    padding: 15px;
  }
  
  main-2 p {
    padding-bottom: 15px;
    line-height: 150%;
    width: 300px;
  }
  
  .container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 50px;
  }