$img1: url(../images/display.svg);
$img2: url(../images/layer.svg);
$img3: url(../images/check.svg);
$img4: url(../images/bg-showcase-1.jpg);
$img5: url(../images/bg-showcase-2.jpg);
$img6: url(../images/bg-showcase-3.jpg);
$img7: url(../images/testimonials-1.jpg);
$img8: url(../images/testimonials-2.jpg);
$img9: url(../images/testimonials-3.jpg);
$img10: url(../images/facebook.svg);
$img11: url(../images/twitter.svg);
$img12: url(../images/instagram.svg);